<div class="jumbotron">
    @{
        // gets all availabel login providers
        // var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        <div>
            <p>This is a test page for the @@miles backend. For now this uses OAuth2 as authentication protocol, and Google as provider</p>
        </div>
        <div id="login" >
            <span>Log in with </span>
            <a href="api/Account/ExternalLogin?provider=Google&client_id=self&response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A56548%2F">Google</a>

            @*  If more providers are added, we can loop through these like this:
                <p>

                @foreach (var p in loginProviders)
                {
                    <a href="api/Account/ExternalLogin?provider=@(p.AuthenticationType)&client_id=self&response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A56548%2F">@p.AuthenticationType</a>
                    <button type="submit" onclick="" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                }

            </p>*@
        </div>
        <div id="authenticated" >
            <b><p id="welcomemessage"></p></b>
            <div ng-app>
                <div ng-controller="homepageController">
                   
                    <input class="input-lg" ng-keyup="search()" ng-model="queryTerm" type="text" placeholder="Search for employee..">
                  
                    <table class="table table-striped">
                        <tr ng-repeat="item in searchResult.Results">
                            <td>
                                <img src="{{item.Thumb}}" />
                            </td>
                            <td>
                                <strong>{{item.Name}}</strong> <br />
                                {{item.OfficeId}} - {{item.JobTitle}}
                            </td>
                        </tr>
                    </table>
                </div>
                
            </div>
            
        </div>
    }
            
        
    
</div>

@section scripts
{
    <script src="~/Scripts/homepageController.js"></script>
    <script type="text/javascript">
        $(document).ready(new function() {
            $.ajax(
                    {
                        url: "/api/test",
                        type: "GET",
                        dataType: "json",
                        xhrFields: {
                            withCredentials: true
                        }
                    }
                )
                .done(function(res) {
                    $('#welcomemessage').text(res);
                    $('#login').hide();
                    $('#authenticated').show();

                })
                .fail(
                    function(feilkode) {
                        if (feilkode.status == 401) {
                            $('#login').show();
                            $('#authenticated').hide();
                        } else {
                            alert(feilkode);
                        }
                    });

        });
    </script>
     

}
